h1, h2, h3, h4, h5, h6 {
font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'roboto';
    font-size: 1rem;
}

h2 {
    font-size: 0.8rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

input::placeholder {
font-family: 'Montserrat', sans-serif;
font-size: 0.8rem;
}

.left .link a{    
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
    }
